<ion-view>
  <ion-content class="choose-avatar">
    <div class="">
      <div class="logo text-center">
        <a href=""><img src="img/usa/uslogo.png" width="140" class="img-responsive" alt="Smaash"></a>
        <!--<a href=""><img src="img/big-logo.png" width="140" alt="Smaash"></a>-->
      </div>
      <h3 class="text-uppercase text-center  city  font-america m-clear">Upload profile photo</h3>
      <div class="photo text-center">
        <div class="row">
          <div class="col">
            <div class="row">
<div class="col">
   <div class="" style="margin:0 auto;">
                    <!-- <img ng-src="{{userForm.profilePic }}" alt=""  class="img-responsive" > -->
                    <img ng-src="{{userForm.profilePic | uploadpath }}" alt=""  class="img-responsive" ng-show = "userForm.profilePic">
                    <img src="img/addphoto.png" alt=""  ng-show = "!userForm.profilePic" class="img-responsive" >
                  </div>
</div>
            </div>
            <div class="row">
              <div class=" col-50">
                <!-- <div class="add-photo"> -->
                  <!-- <div class="photos">
                              <div class="photo-image text-center">
                                 <p class="ion-plus"></p>
                                 <p class="text-uppercase color-white">upload</p>
                              </div>

                           </div> -->
                  <!-- <img ng-src="{{collection.selectedImage}}" alt=""  class="img-responsive" ng-click="getImageSaveContact();"> -->
                  <div class="" style="margin:0 auto;">
                    <img src="img/addphoto.png" alt=""  class="img-responsive" ng-click="uploadProfilePic();">
                  </div>
                <!-- </div> -->
              </div>
              <div class=" col-50">
                <!-- <div class="add-photo"> -->
                  <!-- <div class="photos" >
                              <div class="photo-image text-center" >
                                 <p class="ion-camera"></p>
                                 <p class="text-uppercase color-white">take photo</p>
                              </div>

                           </div> -->
                     <div class="" style="margin:0 auto;">
                  <img ng-src="img/takephoto.png" alt="" class="img-responsive" ng-click="takePhotoCamera();">
                    </div>
                  <!-- <div class="uploaded-pic">
                    <img src="" alt="" class="img-responsive">
                  </div> -->
                <!-- </div> -->
              </div>
            </div>
          </div>
        </div>
        <span class=" block font-galano">OR</span>
        <span class=" block text-uppercase mt10 mb10 font-galano">Select your avatar</span>
        <div class="avatar-holder" >
          <div class="avatar-box">
            <div class="row">
              <div class="col-50" >
<div class="avatars"  ng-click="getAvtar('5860bfc82d239d43db8a4777.png')" >
</div>
              </div>
              <div class="col-50" >
  <div class="avatarss" ng-click="getAvtar('5860bfc72d239d43db8a4771.png')">

</div>
              </div>
            </div>
                 <div class="row">
              <div class="col-50" >
  <div class="avatars1" ng-click="getAvtar('5860bfc82d239d43db8a477b.png')">


</div>
              </div>
              <div class="col-50" >
  <div class="avatarss1" ng-click="getAvtar('5860bfc82d239d43db8a4779.png')">

</div>
              </div>
            </div>
                 <div class="row" >
              <div class="col-50" >
  <div class="avatars2" ng-click="getAvtar('5860bfc82d239d43db8a4773.png')">

</div>
              </div>
              <div class="col-50" >
  <div class="avatarss2" ng-click="getAvtar('5860bfc82d239d43db8a4775.png')">

</div>
              </div>
            </div>
          </div>
        </div>
        <span class="block  mt10 mb10 font-galano" ui-sref="app.account" ng-if = "!userForm.profilePic">SKIP</span>
              <span class="block  mt10 mb10 font-galano" ui-sref="app.account" ng-if = "userForm.profilePic">Next</span>
</div>
    </div>
  </ion-content>
</ion-view>
