<ion-view>
  <ion-content class="direction">
    <div class="direction-main text-center">
      <h3 class="text-center text-uppercase text-in-shadow font-america">Contact Us</h3>

<div  >
  <div class="map">
    <div class="see-map">
<iframe src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d1414.199601864674!2d-93.2430929!3d44.8541673!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sin!4v1480929916657" width="100%" height="200" frameborder="0" style="border:0" allowfullscreen></iframe>
      <!-- <a href="https://www.google.co.in/maps/@44.8541673,-93.2430929,18z5" target="_blank"><img src="img/map.png" alt="" class="img-responsive"></a> -->
    </div>
  </div>
  <ion-list class="direction-list">
    <ion-item >
      <p class="no-ellipsis font-galano">60 E Broadway, Bloomington
<br> MN 55425,<br> USA</p>
      <!-- <span><img src="img/go.png" alt="" width="50" class="img-responsive"></span> -->
    </ion-item>
    <ion-item  class="border">
      <!-- <span class="no-ellipsis font-galano">Toll Free: 1800-200-1020</span> -->
      <!-- <span><img src="img/next.png" alt="" width="80" class="img-responsive" ></span> -->
      <a  href="tel:1800-200-1020" class="a-call"><img src="img/next.png" alt="" width="80" class="img-responsive"></a>
      <p class="no-ellipsis font-galano">
+1 952-883-8800</p>
    </ion-item>
    </ion-list>
   </div>
    </div>
  </ion-content>
</ion-view>
