<ion-side-menus class="header ">
  <ion-pane ion-side-menu-content>
    <ion-nav-bar class="bar bar-light  nav-title-slide-ios">
      <ion-nav-buttons side="left" class="color-white">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
      <ion-nav-title>
        <h1 class="text-center" ui-sref="app.home"><img src="img/logo.png" class="logo"></h1>
      </ion-nav-title>
      <ion-nav-buttons side="right"  >
        <h3 class="ion-ios-bell-outline color-white {{getCross}}" ng-click="whenClose();" menu-toggle="right">
        </h3>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent" animation="slide-left-right"></ion-nav-view>
  </ion-pane>
  <!--<ion-side-menu side="left">
    <ion-header-bar class="bar-stable search-bar">
    </ion-header-bar>
    <ion-content class="get-menu">
      <div class="sidemenu-profile">
         <div class="profile-img">
                  <img src="img/profile-img.jpg" alt="profile-image" class="img-responsive" ng-click="uploadProfilePic();">
                </div>
                 <div class="name text-center">
                  <h4 class=" text-in-shadow color-white font-america">Amrit Bhamrah</h4>
                  <span class="text-in-shadow color-white font-america">Cricketer</span>
                </div>
                  <div class="name text-center">
                  <h4 class=" inline-block  font-america">33500</h4>
                  <span class="  font-america">Points</span>
                </div>
      </div>
     
      <ul class="text-center nav-menus">
        <li>
          <h4 ui-sref="" class=" font-america"><img src="img/usa/icons/explore.png" alt="">explore smaaash</h4>
        </li>
        <li>
            <h4 ui-sref="" class="font-america"><img src="img/usa/icons/explore.png" alt="">earn points</h4>
        </li>
        <li>
            <h4 ui-sref="" class="  font-america"><img src="img/usa/icons/about.png" alt="">about smaaash</h4>
        </li>
        <li>
            <h4 ui-sref="" class="  font-america"><img src="img/usa/icons/cart.png" alt="">my cart</h4>
        </li>
        <li>
            <h4 ui-sref="" class="  font-america"><img src="img/usa/icons/direction.png" alt="">directions to smaaash</h4>
        </li>
           <li>
            <h4 ui-sref="" class="  font-america"><img src="img/usa/icons/buy.png" alt="">buy and recharge</h4>
        </li>
           <li>
            <h4 ui-sref="" class=" font-america"><img src="img/usa/icons/check.png" alt="">check in</h4>
        </li>
         <li>
            <h4 ui-sref="" class="  font-america"><img src="img/usa/icons/contact.png" alt="">contact us</h4>
        </li>
         <li>
            <h4 ui-sref="" class="  font-america"><img src="img/usa/icons/logout.png" alt="">log out</h4>
        </li>
      </ul>
    </ion-content>
  </ion-side-menu>-->
  <!--</ion-side-menu-content>-->


   <!-- <ion-header-bar class="bar-assertive sidemenu-header">
     <h1 class="title ">Menu</h1>
   </ion-header-bar> -->
<ion-side-menu side="left" class=" menus">
  <div class="buy-recharge">
<div class="baring">
  <ion-header class="bar-profile sidemenu-profile">
     <div class="profile-img">
                  <img src="img/profile-img.jpg" alt="profile-image" class="img-responsive" ng-click="uploadProfilePic();">
                </div>
     <!-- <div class="profile"> -->
       <!--<img class ="menuheader-background">
     <img class="profile-picture" src="http://ionicframework.com/img/docs/mcfly.jpg" />-->

         <div class="name text-center">
                  <h4 class=" text-in-shadow color-white font-america">Amrit Bhamrah</h4>
                  <span class=" font-america">Cricketer</span>
                </div>
                  <div class="name text-center">
                  <h4 class=" inline-block  font-america">33500</h4>
                  <span class="  font-america">Points</span>
                </div>
   </ion-header>
  </div>
 

   <ion-content class="hass-header buy-recharge">
     <ion-list >
       <ion-item menu-close class ="sidemenu-item font-america">
          <img src="/img/usa/icons/explore.png"></i>
        explore smaaash
       </ion-item>
       <ion-item menu-close href="#"  class ="sidemenu-item font-america">
         <!--<i class="ion-navicon-round"></i>-->
          <img src="/img/usa/icons/explore.png" ></i>
        earn points
       </ion-item>
       <ion-item menu-close href="#"  class ="sidemenu-item font-america">
           <img src="/img/usa/icons/about.png" ></i>
 about smaaash
       </ion-item>
       <ion-item menu-close href="#" class ="sidemenu-item font-america">
         <img src="/img/usa/icons/cart.png" ></i>
      my cart
       </ion-item>
       <ion-item menu-close href="#" class ="sidemenu-item font-america" >
          <img src="/img/usa/icons/direction.png" ></i>
        directions to smaaash
       </ion-item>
       <ion-item menu-close href="#" class ="sidemenu-item font-america">
         <img src="/img/usa/icons/buy.png" class="loyalty"></i>
        buy and recharge
       </ion-item>
        <ion-item menu-close href="#" class ="sidemenu-item font-america">
         <img src="/img/usa/icons/check.png" class="loyalty"></i>
      check in
       </ion-item>
        <ion-item menu-close href="#" class ="sidemenu-item font-america">
         <img src="/img/usa/icons/contact.png" class="loyalty"></i>
      contact us
       </ion-item>
        <ion-item menu-close href="#" class ="sidemenu-item font-america">
         <img src="/img/usa/icons/logout.png" class="loyalty"></i>
     log out
       </ion-item>
     </ion-list>
   </ion-content>
  </div>
  
 </ion-side-menu>
  <ion-side-menu side="right" class="notification">
    <ion-header-bar class="bar-stable header-strip">
      <h1 class="title">
        <div class="text-left">
          <span class="color-white"><i class="ion-android-notifications noti-icon"></i> Notification</span>
        </div>
      </h1>
    </ion-header-bar>
    <ion-content>
      <ion-list class="noti-list" ng-click="whenClose();">
        <ion-item menu-close>
          <p class="no-ellipsis">Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
          <span><img src="img/go.png" alt="" width="50" class="img-responsive"></span>
        </ion-item>
        <ion-item menu-close>
          <p class="no-ellipsis">Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
          <span><img src="img/go.png" alt="" width="50" class="img-responsive"></span>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
<ion-footer-bar>
  <ion-tabs class="tabs-icon-only">
    <ion-tab class="hide" ui-sref="app.home" menu-close ng-click="closeAll()">
    </ion-tab>
    <ion-tab title="Explore" icon-on="foot-tab explore" icon-off="foot-tab explore" ng-click="closeAll('app.exploresmaash');">
    </ion-tab>
    <ion-tab title="Buy" icon-on="foot-tab buy" icon-off="foot-tab buy" ng-click="closeAll('app.buy');" menu-close>
    </ion-tab>
    <ion-tab title="My Account" ng-click="closeAll('app.account');" icon-on="foot-tab account" icon-off="foot-tab account" menu-close>
    </ion-tab>
    <ion-tab title="Check in" icon-on="foot-tab check" icon-off="foot-tab check" ng-click="closeAll('app.home');" menu-close>
    </ion-tab>
    <ion-tab title="Contact us" icon-on="foot-tab contact" icon-off="foot-tab contact"  ng-click="closeAll('app.direction');" menu-close>
    </ion-tab>
  </ion-tabs>
</ion-footer-bar>
