<ion-view>
  <ion-content class="recharge">
    <div class="recharge-main resgistration">
      <div class="row">
        <div class="col col-offset-10 col-80">
          <h3 class="text-center text-uppercase text-in-shadow font-america mb5">online recharge</h3>
          <p class=" text-center color-white font-galano">Recharge your Smaaash card right now.</p>
          <form>
            <label class="item item-input">
              <input type="text" placeholder="Name on card" ng-model="Recharge.name" required>
            </label>
            <label class="item item-input">
              <input type="text" placeholder="Card Number" class="card-no" ng-model="Recharge.CustomerCardNo" required maxlength="19" minlength="16">
            </label>
            <label class="item item-input">
              <span class="amount">$</span>
              <input type="text" placeholder="Amount" only-Digits ng-model="Recharge.RechargeAmount" required>
            </label>
            <button type="submit" name="button" class="go full-width" ng-click="RechargeCard(Recharge);">
              <img src="img/go.png" alt="" class="img-responsive">
            </button>
          </form>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
