<ion-view>
  <ion-content class="explore-smaash">
    <div class="buy-main">
         <div class="text-center">
            <h3 class="text-uppercase text-in-shadow font-america mb5">Sorry</h3>
            <!--<p class=" font-galano">Buy a Smaaash card and load it at the counter or by using your app</p>-->
          </div>
<ion-list>
    <ion-item>
      <h2 class="title center brand-white">Your Payment Was Unsuccessfull</h2>
<p class="text-center brand-white">Your CNR No:</p>
<span class="brand-white uppercase text-center">Sorry for the inconvenience!</span>
    </ion-item>
</ion-list>
    </div>
  </ion-content>
</ion-view>
