<ion-view>
  <ion-content class="explore-smaash">
    <div class="buy-main">
         <div class="text-center">
            <h3 class="text-uppercase text-in-shadow font-america mb5">Congratulations</h3>
            <!--<p class=" font-galano">Buy a Smaaash card and load it at the counter or by using your app</p>-->
          </div>
<ion-list>
    <ion-item class="payments">
      <h2 class=" text-center title center brand-white">Your Order No.{{OrderDetails.orderno}} for $ {{OrderDetails.amount}}  has been <br>Successfull.</h2>
<p class="text-center color-white">Your CNR No:{{OrderDetails.cnrno}}</p>
<span class="sorry text-center color-white ">Thank you for shopping!</span>
    </ion-item>
</ion-list>
    </div>
  </ion-content>
</ion-view>
