<div class="modal-download">
    <div class="modal-body">
      <pdf-viewer    delegate-handle="my-pdf-container"    url="url" scale="1"    show-toolbar="true"    ></pdf-viewer>

    </div>
</div>
    <!--width: auto;
    height: auto;
    border-color: transparent;
    background-color: #f8f8f8;
    color: #444;
    position: relative;
    display: inline-block;
    margin: 0;
    padding: 0 5px;
    /* min-width: 36px; */
    /* min-height: 47px; */
    border-width: 1px;
    border-style: solid;
    border-radius: 4px;
    vertical-align: top;
    text-align: center;
    text-overflow: ellipsis;
    font-size: 10px;
    line-height: 32px;
    cursor: pointer;-->

    <!--input type[text]
        width: 5%;
    display: inline-block;-->